.addmovie{
    font-size: 1.5rem;
    color: #f65261;
    padding: 0.7rem 1rem;
    background-color: #555555;
    border-radius: 0.5rem;
    opacity: 0.7;
    float: right;
    margin: 1rem;
  }